In [7]:
import pandas as pd

healthoutcomes = pd.read_csv('/Users/flatironschool/Downloads/500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2018_release.csv')

In [8]:
healthoutcomes.head()

,StateAbbr,PlaceName,PlaceFIPS,TractFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,PAPTEST_Crude95CI,PHLTH_CrudePrev,PHLTH_Crude95CI,SLEEP_CrudePrev,SLEEP_Crude95CI,STROKE_CrudePrev,STROKE_Crude95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation
0,AL,Birmingham,107000,1073000100,0107000-01073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",...,"(83.4, 86.6)",20.0,"(18.5, 21.7)",45.5,"(44.3, 46.5)",5.6,"( 5.1, 6.1)",28.9,"(23.7, 35.1)","(33.57943283260, -86.7228323926)"
1,AL,Birmingham,107000,1073000300,0107000-01073000300,2735,28.5,"(25.2, 31.7)",30.2,"(29.0, 31.4)",...,"(81.9, 85.6)",20.6,"(18.8, 22.5)",44.5,"(43.2, 45.7)",5.9,"( 5.3, 6.5)",32.9,"(25.5, 40.2)","(33.54282086860, -86.7524339780)"
2,AL,Birmingham,107000,1073000400,0107000-01073000400,3338,23.9,"(20.5, 27.6)",31.7,"(30.3, 33.0)",...,"(82.3, 86.8)",19.3,"(17.6, 21.4)",45.7,"(44.2, 47.0)",5.7,"( 5.1, 6.4)",28.6,"(22.0, 35.1)","(33.56324496330, -86.7640474064)"
3,AL,Birmingham,107000,1073000500,0107000-01073000500,2864,25.8,"(22.0, 29.9)",35.6,"(34.1, 37.0)",...,"(82.1, 86.5)",21.8,"(19.8, 24.0)",46.1,"(44.5, 47.4)",7.7,"( 6.9, 8.6)",34.0,"(24.4, 42.9)","(33.54424045940, -86.7749130719)"
4,AL,Birmingham,107000,1073000700,0107000-01073000700,2577,29.4,"(24.8, 34.2)",37.2,"(35.8, 38.6)",...,"(82.2, 87.1)",25.1,"(22.9, 27.6)",48.3,"(46.6, 49.7)",9.5,"( 8.4, 10.6)",43.2,"(33.2, 53.2)","(33.55254061390, -86.8016893706)"

In [9]:
healthoutcomes.columns

Index(['StateAbbr', 'PlaceName', 'PlaceFIPS', 'TractFIPS', 'Place_TractID',
       'Population2010', 'ACCESS2_CrudePrev', 'ACCESS2_Crude95CI',
       'ARTHRITIS_CrudePrev', 'ARTHRITIS_Crude95CI', 'BINGE_CrudePrev',
       'BINGE_Crude95CI', 'BPHIGH_CrudePrev', 'BPHIGH_Crude95CI',
       'BPMED_CrudePrev', 'BPMED_Crude95CI', 'CANCER_CrudePrev',
       'CANCER_Crude95CI', 'CASTHMA_CrudePrev', 'CASTHMA_Crude95CI',
       'CHD_CrudePrev', 'CHD_Crude95CI', 'CHECKUP_CrudePrev',
       'CHECKUP_Crude95CI', 'CHOLSCREEN_CrudePrev', 'CHOLSCREEN_Crude95CI',
       'COLON_SCREEN_CrudePrev', 'COLON_SCREEN_Crude95CI', 'COPD_CrudePrev',
       'COPD_Crude95CI', 'COREM_CrudePrev', 'COREM_Crude95CI',
       'COREW_CrudePrev', 'COREW_Crude95CI', 'CSMOKING_CrudePrev',
       'CSMOKING_Crude95CI', 'DENTAL_CrudePrev', 'DENTAL_Crude95CI',
       'DIABETES_CrudePrev', 'DIABETES_Crude95CI', 'HIGHCHOL_CrudePrev',
       'HIGHCHOL_Crude95CI', 'KIDNEY_CrudePrev', 'KIDNEY_Crude95CI',
       'LPA_CrudePrev', 'LPA_Crude95CI', 'MAMMOUSE_CrudePrev',
       'MAMMOUSE_Crude95CI', 'MHLTH_CrudePrev', 'MHLTH_Crude95CI',
       'OBESITY_CrudePrev', 'OBESITY_Crude95CI', 'PAPTEST_CrudePrev',
       'PAPTEST_Crude95CI', 'PHLTH_CrudePrev', 'PHLTH_Crude95CI',
       'SLEEP_CrudePrev', 'SLEEP_Crude95CI', 'STROKE_CrudePrev',
       'STROKE_Crude95CI', 'TEETHLOST_CrudePrev', 'TEETHLOST_Crude95CI',
       'Geolocation'],
      dtype='object')

In [12]:
food_deserts = pd.ExcelFile('/Users/flatironschool/Flatiron_Projects/food-access/DataDownload2015.xlsx')

In [14]:
food_deserts.sheet_names

['Read Me', 'Variable Lookup', 'Food Access Research Atlas']

In [16]:
vars_dict = food_deserts.parse('Variable Lookup')

In [18]:
vars_dict.head()

         Field                 LongName                        Description
0  CensusTract             Census tract                Census tract number
1        State                    State                         State name
2       County                   County                        County name
3        Urban              Urban tract               Flag for urban tract
4      POP2010  Population, tract total  Population count from 2010 census

In [ ]:
# DATA DICTIONARY FOR HEALTH OUTCOMES SHEET:

In [39]:
health_data_dict = pd.read_csv('/Users/flatironschool/Flatiron_Projects/food-access/Health_Data_Dict.csv', error_bad_lines=False)

b'Skipping line 38: expected 3 fields, saw 4\nSkipping line 62: expected 3 fields, saw 4\n'

In [40]:
health_data_dict

,Column Name,Description,Type
0,StateAbbr,State abbreviation,\tPlain Text
1,PlaceName,City name,Plain Text
2,PlaceFIPS,City FIPS code,\tPlain Text
3,TractFIPS,Tract FIPS code,Plain Text
4,Place_TractID,Combined city and census tract FIPS code to f...,Plain Text
5,Population2010,\t2010 Census population count,\tNumber
6,ACCESS2_CrudePrev,Model-based estimate for crude prevalence of ...,\tNumber
7,ACCESS2_Crude95CI,Estimated confidence interval for crude preva...,Plain Text
8,ARTHRITIS_CrudePrev,Model-based estimate for crude prevalence of ...,\tNumber
9,ARTHRITIS_Crude95CI,Estimated confidence interval for crude preva...,\tPlain Text
10,BINGE_CrudePrev,Model-based estimate for crude prevalence of ...,\tNumber
11,BINGE_Crude95CI,Estimated confidence interval for crude preva...,\tPlain Text
12,BPHIGH_CrudePrev,\tModel-based estimate for crude prevalence of...,\tNumber
13,BPHIGH_Crude95CI,\tEstimated confidence interval for crude prev...,Plain Text
14,BPMED_CrudePrev,Model-based estimate for crude prevalence of ...,\tNumber
15,BPMED_Crude95CI,Estimated confidence interval for crude preva...,Plain Text
16,CANCER_CrudePrev,\tModel-based estimate for crude prevalence of...,\tNumber
17,CANCER_Crude95CI,\tEstimated confidence interval for crude prev...,Plain Text
18,CASTHMA_CrudePrev,Model-based estimate for crude prevalence of ...,\tNumber
19,CASTHMA_Crude95CI,Estimated confidence interval for crude preva...,\tPlain Text
20,CHD_CrudePrev,Model-based estimate for crude prevalence of ...,\tNumber
21,CHD_Crude95CI,Estimated confidence interval for crude preva...,\tPlain Text
22,CHECKUP_CrudePrev,Model-based estimate for crude prevalence of ...,Number
23,CHECKUP_Crude95CI,Estimated confidence interval for crude preva...,Plain Text
24,CHOLSCREEN_CrudePrev,\tModel-based estimate for crude prevalence of...,\tNumber
25,CHOLSCREEN_Crude95CI,\tEstimated confidence interval for crude prev...,\tPlain Text
26,COLON_SCREEN_CrudePrev,\tModel-based estimate for crude prevalence of...,\tNumber
27,COLON_SCREEN_Crude95CI,\tEstimated confidence interval for crude prev...,Plain Text
28,COPD_CrudePrev,\tModel-based estimate for crude prevalence of...,\tNumber
29,COPD_Crude95CI,\tEstimated confidence interval for crude prev...,\tPlain Text
...,...,...,...
31,COREM_Crude95CI,Estimated confidence interval for crude preva...,\tPlain Text
32,COREW_CrudePrev,Model-based estimate for crude prevalence of ...,\tNumber
33,COREW_Crude95CI,Estimated confidence interval for crude preva...,Plain Text
34,CSMOKING_CrudePrev,\tModel-based estimate for crude prevalence of...,\tNumber
35,CSMOKING_Crude95CI,\tEstimated confidence interval for crude prev...,\tPlain Text
36,DENTAL_Crude95CI,\tEstimated confidence interval for crude prev...,Plain Text
37,DIABETES_CrudePrev,\tModel-based estimate for crude prevalence of...,Number
38,DIABETES_Crude95CI,\tEstimated confidence interval for crude prev...,Plain Text
39,HIGHCHOL_CrudePrev,\tModel-based estimate for crude prevalence of...,Number
40,HIGHCHOL_Crude95CI,\tEstimated confidence interval for crude prev...,Plain Text
41,KIDNEY_CrudePrev,\tModel-based estimate for crude prevalence of...,Number
42,KIDNEY_Crude95CI,\tEstimated confidence interval for crude prev...,\tPlain Text
43,LPA_CrudePrev,Model-based estimate for crude prevalence of ...,\tNumber
44,LPA_Crude95CI,Estimated confidence interval for crude preva...,Plain Text
45,MAMMOUSE_CrudePrev,\tModel-based estimate for crude prevalence of...,\tNumber
46,MAMMOUSE_Crude95CI,\tEstimated confidence interval for crude prev...,\tPlain Text
47,MHLTH_CrudePrev,Model-based estimate for crude prevalence of ...,\tNumber
48,MHLTH_Crude95CI,Estimated confidence interval for crude preva...,\tPlain Text
49,OBESITY_CrudePrev,Model-based estimate for crude prevalence of ...,\tNumber
50,OBESITY_Crude95CI,Estimated confidence interval for crude preva...,Plain Text
51,PAPTEST_CrudePrev,Model-based estimate for crude prevalence of ...,\tNumber
52,PAPTEST_Crude95CI,Estimated confidence interval for crude preva...,Plain Text
53,PHLTH_CrudePrev,Model-based estimate for crude prevalence of ...,\tNumber
54,PHLTH_Crude95CI,Estimated confidence interval for crude preva...,\tPlain Text
55,SLEEP_CrudePrev,Model-based estimate for crude prevalence of ...,\tNumber
56,SLEEP_Crude95CI,Estimated confidence interval for crude preva...,Plain Text
57,STROKE_CrudePrev,Model-based estimate for crude prevalence of ...,Number
58,STROKE_Crude95CI,\tEstimated confidence interval for crude prev...,Plain Text
59,TEETHLOST_Crude95CI,Estimated confidence interval for crude preva...,\tPlain Text
60,Geolocation\tLatitude,longitude of census tract centroid,\tPlain Text

In [158]:
import pandas as pd
bachelors = pd.read_csv('/Users/flatironschool/Downloads/BachelorsDegreeSubjs/ACS_15_5YR_S1502.csv', header=None)

/Users/flatironschool/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [154]:
bachelors.head()

,0,1,2,3,4,5,6,7,8,9,...,281,282,283,284,285,286,287,288,289,290
0,GEO.id,GEO.id2,GEO.display-label,HC01_EST_VC01,HC01_MOE_VC01,HC02_EST_VC01,HC02_MOE_VC01,HC03_EST_VC01,HC03_MOE_VC01,HC04_EST_VC01,...,HC02_EST_VC27,HC02_MOE_VC27,HC03_EST_VC27,HC03_MOE_VC27,HC04_EST_VC27,HC04_MOE_VC27,HC05_EST_VC27,HC05_MOE_VC27,HC06_EST_VC27,HC06_MOE_VC27
1,Id,Id2,Geography,Total; Estimate; Total population 25 years and...,Total; Margin of Error; Total population 25 ye...,Percent; Estimate; Total population 25 years a...,Percent; Margin of Error; Total population 25 ...,Males; Estimate; Total population 25 years and...,Males; Margin of Error; Total population 25 ye...,Percent Males; Estimate; Total population 25 y...,...,Percent; Estimate; DETAILED AGE - 65 years and...,Percent; Margin of Error; DETAILED AGE - 65 ye...,Males; Estimate; DETAILED AGE - 65 years and o...,Males; Margin of Error; DETAILED AGE - 65 year...,Percent Males; Estimate; DETAILED AGE - 65 yea...,Percent Males; Margin of Error; DETAILED AGE -...,Females; Estimate; DETAILED AGE - 65 years and...,Females; Margin of Error; DETAILED AGE - 65 ye...,Percent Females; Estimate; DETAILED AGE - 65 y...,Percent Females; Margin of Error; DETAILED AGE...
2,1400000US01001020100,01001020100,"Census Tract 201, Autauga County, Alabama",342,104,NaN,NaN,180,58,NaN,...,43.1,25.2,12,12,38.7,29.4,10,11,50.0,36.7
3,1400000US01001020200,01001020200,"Census Tract 202, Autauga County, Alabama",203,67,NaN,NaN,86,33,NaN,...,22.6,32.6,7,11,31.8,44.1,0,11,0.0,95.0
4,1400000US01001020300,01001020300,"Census Tract 203, Autauga County, Alabama",432,107,NaN,NaN,207,76,NaN,...,29.5,29.3,13,20,39.4,50.0,0,11,0.0,85.9

In [159]:
headers = bachelors.iloc[1]

In [160]:
bachelors  = pd.DataFrame(bachelors.values[2:], columns=headers)

In [161]:
bachelors.head()

1,Id,Id2,Geography,Total; Estimate; Total population 25 years and over with a Bachelor's degree or higher,Total; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher,Percent; Estimate; Total population 25 years and over with a Bachelor's degree or higher,Percent; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher,Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher,Males; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher,Percent Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher,...,"Percent; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Males; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Males; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Males; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Males; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Females; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Females; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Females; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Females; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others"
0,1400000US01001020100,01001020100,"Census Tract 201, Autauga County, Alabama",342,104,NaN,NaN,180,58,NaN,...,43.1,25.2,12,12,38.7,29.4,10,11,50.0,36.7
1,1400000US01001020200,01001020200,"Census Tract 202, Autauga County, Alabama",203,67,NaN,NaN,86,33,NaN,...,22.6,32.6,7,11,31.8,44.1,0,11,0.0,95.0
2,1400000US01001020300,01001020300,"Census Tract 203, Autauga County, Alabama",432,107,NaN,NaN,207,76,NaN,...,29.5,29.3,13,20,39.4,50.0,0,11,0.0,85.9
3,1400000US01001020400,01001020400,"Census Tract 204, Autauga County, Alabama",710,159,NaN,NaN,419,114,NaN,...,20.4,12.0,41,29,34.7,17.5,0,11,0.0,29.5
4,1400000US01001020500,01001020500,"Census Tract 205, Autauga County, Alabama",2991,536,NaN,NaN,1319,277,NaN,...,13.9,22.4,0,18,0.0,21.1,28,48,36.8,45.0

In [73]:
# bachelors['HC02_EST_VC01'].iloc[0]

"Percent; Estimate; Total population 25 years and over with a Bachelor's degree or higher"

In [75]:
# bachelors['HC04_EST_VC01'].iloc[0]

"Percent Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher"

In [76]:
# bachelors['HC06_EST_VC01'].iloc[0]

"Percent Females; Estimate; Total population 25 years and over with a Bachelor's degree or higher"

In [79]:
# bachelors['HC02_EST_VC03'].iloc[0]

'Percent; Estimate; Science and Engineering Related Fields'

In [80]:
# bachelors['HC02_EST_VC04'].iloc[0]

'Percent; Estimate; Science and Engineering Related Fields'

In [83]:
# bachelors['HC02_EST_VC05'].iloc[0]

'Percent; Estimate; Business'

In [89]:
# bachelors['HC02_EST_VC06'].iloc[0]

'Percent; Estimate; Education'

In [91]:
# bachelors['HC02_EST_VC07'].iloc[0]

'Percent; Estimate; Arts, Humanities and Others'

In [162]:
bachelors.head()

1,Id,Id2,Geography,Total; Estimate; Total population 25 years and over with a Bachelor's degree or higher,Total; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher,Percent; Estimate; Total population 25 years and over with a Bachelor's degree or higher,Percent; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher,Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher,Males; Margin of Error; Total population 25 years and over with a Bachelor's degree or higher,Percent Males; Estimate; Total population 25 years and over with a Bachelor's degree or higher,...,"Percent; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Males; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Males; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Males; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Males; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Females; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Females; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Females; Estimate; DETAILED AGE - 65 years and over - Arts, Humanities and Others","Percent Females; Margin of Error; DETAILED AGE - 65 years and over - Arts, Humanities and Others"
0,1400000US01001020100,01001020100,"Census Tract 201, Autauga County, Alabama",342,104,NaN,NaN,180,58,NaN,...,43.1,25.2,12,12,38.7,29.4,10,11,50.0,36.7
1,1400000US01001020200,01001020200,"Census Tract 202, Autauga County, Alabama",203,67,NaN,NaN,86,33,NaN,...,22.6,32.6,7,11,31.8,44.1,0,11,0.0,95.0
2,1400000US01001020300,01001020300,"Census Tract 203, Autauga County, Alabama",432,107,NaN,NaN,207,76,NaN,...,29.5,29.3,13,20,39.4,50.0,0,11,0.0,85.9
3,1400000US01001020400,01001020400,"Census Tract 204, Autauga County, Alabama",710,159,NaN,NaN,419,114,NaN,...,20.4,12.0,41,29,34.7,17.5,0,11,0.0,29.5
4,1400000US01001020500,01001020500,"Census Tract 205, Autauga County, Alabama",2991,536,NaN,NaN,1319,277,NaN,...,13.9,22.4,0,18,0.0,21.1,28,48,36.8,45.0

In [163]:
bachelors = bachelors[['Id2', 'Geography', 'Percent; Estimate; Science and Engineering Related Fields', 'Percent; Estimate; Science and Engineering', 'Percent; Estimate; Business', 'Percent; Estimate; Education', 'Percent; Estimate; Arts, Humanities and Others']]

In [164]:
bachelors.head()

1,Id2,Geography,Percent; Estimate; Science and Engineering Related Fields,Percent; Estimate; Science and Engineering,Percent; Estimate; Business,Percent; Estimate; Education,"Percent; Estimate; Arts, Humanities and Others"
0,01001020100,"Census Tract 201, Autauga County, Alabama",4.1,21.3,28.9,23.4,22.2
1,01001020200,"Census Tract 202, Autauga County, Alabama",6.9,31.5,15.8,25.6,20.2
2,01001020300,"Census Tract 203, Autauga County, Alabama",9.5,17.8,33.3,10.9,28.5
3,01001020400,"Census Tract 204, Autauga County, Alabama",15.6,21.8,19.9,19.0,23.7
4,01001020500,"Census Tract 205, Autauga County, Alabama",7.7,22.9,34.7,11.4,23.2

In [289]:
%store -r combined_data

In [290]:
combined_data.head()

,StateAbbr,PlaceName,PlaceFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,BINGE_CrudePrev,...,PHLTH_CrudePrev,PHLTH_Crude95CI,SLEEP_CrudePrev,SLEEP_Crude95CI,STROKE_CrudePrev,STROKE_Crude95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation,LILATracts_halfAnd10
1073000100,AL,Birmingham,107000,1073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",11.5,...,20.0,"(18.5, 21.7)",45.5,"(44.3, 46.5)",5.6,"( 5.1, 6.1)",28.9,"(23.7, 35.1)","(33.57943283260, -86.7228323926)",1.0
1073000300,AL,Birmingham,107000,1073000300,2735,28.5,"(25.2, 31.7)",30.2,"(29.0, 31.4)",12.0,...,20.6,"(18.8, 22.5)",44.5,"(43.2, 45.7)",5.9,"( 5.3, 6.5)",32.9,"(25.5, 40.2)","(33.54282086860, -86.7524339780)",1.0
1073000400,AL,Birmingham,107000,1073000400,3338,23.9,"(20.5, 27.6)",31.7,"(30.3, 33.0)",11.6,...,19.3,"(17.6, 21.4)",45.7,"(44.2, 47.0)",5.7,"( 5.1, 6.4)",28.6,"(22.0, 35.1)","(33.56324496330, -86.7640474064)",1.0
1073000500,AL,Birmingham,107000,1073000500,2864,25.8,"(22.0, 29.9)",35.6,"(34.1, 37.0)",10.0,...,21.8,"(19.8, 24.0)",46.1,"(44.5, 47.4)",7.7,"( 6.9, 8.6)",34.0,"(24.4, 42.9)","(33.54424045940, -86.7749130719)",1.0
1073000700,AL,Birmingham,107000,1073000700,2577,29.4,"(24.8, 34.2)",37.2,"(35.8, 38.6)",8.4,...,25.1,"(22.9, 27.6)",48.3,"(46.6, 49.7)",9.5,"( 8.4, 10.6)",43.2,"(33.2, 53.2)","(33.55254061390, -86.8016893706)",1.0

In [291]:
combined_data.shape

(27210, 63)

In [292]:
combined_data.dtypes

StateAbbr                  object
PlaceName                  object
PlaceFIPS                   int64
Place_TractID               int64
Population2010              int64
ACCESS2_CrudePrev         float64
ACCESS2_Crude95CI          object
ARTHRITIS_CrudePrev       float64
ARTHRITIS_Crude95CI        object
BINGE_CrudePrev           float64
BINGE_Crude95CI            object
BPHIGH_CrudePrev          float64
BPHIGH_Crude95CI           object
BPMED_CrudePrev           float64
BPMED_Crude95CI            object
CANCER_CrudePrev          float64
CANCER_Crude95CI           object
CASTHMA_CrudePrev         float64
CASTHMA_Crude95CI          object
CHD_CrudePrev             float64
CHD_Crude95CI              object
CHECKUP_CrudePrev         float64
CHECKUP_Crude95CI          object
CHOLSCREEN_CrudePrev      float64
CHOLSCREEN_Crude95CI       object
COLON_SCREEN_CrudePrev    float64
COLON_SCREEN_Crude95CI     object
COPD_CrudePrev            float64
COPD_Crude95CI             object
COREM_CrudePrev           float64
                           ...
CSMOKING_CrudePrev        float64
CSMOKING_Crude95CI         object
DENTAL_CrudePrev          float64
DENTAL_Crude95CI           object
DIABETES_CrudePrev        float64
DIABETES_Crude95CI         object
HIGHCHOL_CrudePrev        float64
HIGHCHOL_Crude95CI         object
KIDNEY_CrudePrev          float64
KIDNEY_Crude95CI           object
LPA_CrudePrev             float64
LPA_Crude95CI              object
MAMMOUSE_CrudePrev        float64
MAMMOUSE_Crude95CI         object
MHLTH_CrudePrev           float64
MHLTH_Crude95CI            object
OBESITY_CrudePrev         float64
OBESITY_Crude95CI          object
PAPTEST_CrudePrev         float64
PAPTEST_Crude95CI          object
PHLTH_CrudePrev           float64
PHLTH_Crude95CI            object
SLEEP_CrudePrev           float64
SLEEP_Crude95CI            object
STROKE_CrudePrev          float64
STROKE_Crude95CI           object
TEETHLOST_CrudePrev       float64
TEETHLOST_Crude95CI        object
Geolocation                object
LILATracts_halfAnd10      float64
Length: 63, dtype: object

In [275]:
bachelors.shape

(37508, 7)

In [293]:
combined_data['Place_TractID'] = combined_data['Place_TractID'].astype(int)

In [294]:
bachelors['Place_TractID'] = bachelors['Place_TractID'].astype(int)

In [295]:
combined_data['Place_TractID'].head()

1073000100    1073000100
1073000300    1073000300
1073000400    1073000400
1073000500    1073000500
1073000700    1073000700
Name: Place_TractID, dtype: int64

In [296]:
bachelors['Place_TractID'].head()

0    1001020100
1    1001020200
2    1001020300
3    1001020400
4    1001020500
Name: Place_TractID, dtype: int64

In [299]:
bachelors.set_index('Place_TractID', inplace=True)

KeyError: 'Place_TractID'

In [300]:
bachelors.head()

1,Geography,Percent; Estimate; Science and Engineering Related Fields,Percent; Estimate; Science and Engineering,Percent; Estimate; Business,Percent; Estimate; Education,"Percent; Estimate; Arts, Humanities and Others"
Place_TractID,,,,,,
1001020100,"Census Tract 201, Autauga County, Alabama",4.1,21.3,28.9,23.4,22.2
1001020200,"Census Tract 202, Autauga County, Alabama",6.9,31.5,15.8,25.6,20.2
1001020300,"Census Tract 203, Autauga County, Alabama",9.5,17.8,33.3,10.9,28.5
1001020400,"Census Tract 204, Autauga County, Alabama",15.6,21.8,19.9,19.0,23.7
1001020500,"Census Tract 205, Autauga County, Alabama",7.7,22.9,34.7,11.4,23.2

In [308]:
combined = combined_data.join(bachelors)

In [309]:
combined.head()

,StateAbbr,PlaceName,PlaceFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,BINGE_CrudePrev,...,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation,LILATracts_halfAnd10,Geography,Percent; Estimate; Science and Engineering Related Fields,Percent; Estimate; Science and Engineering,Percent; Estimate; Business,Percent; Estimate; Education,"Percent; Estimate; Arts, Humanities and Others"
1073000100,AL,Birmingham,107000,1073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",11.5,...,28.9,"(23.7, 35.1)","(33.57943283260, -86.7228323926)",1.0,"Census Tract 1, Jefferson County, Alabama",5.2,28.3,20.4,23.6,22.5
1073000300,AL,Birmingham,107000,1073000300,2735,28.5,"(25.2, 31.7)",30.2,"(29.0, 31.4)",12.0,...,32.9,"(25.5, 40.2)","(33.54282086860, -86.7524339780)",1.0,"Census Tract 3, Jefferson County, Alabama",9.6,8.1,27.3,30.6,24.4
1073000400,AL,Birmingham,107000,1073000400,3338,23.9,"(20.5, 27.6)",31.7,"(30.3, 33.0)",11.6,...,28.6,"(22.0, 35.1)","(33.56324496330, -86.7640474064)",1.0,"Census Tract 4, Jefferson County, Alabama",0.0,12.4,18.0,36.0,33.7
1073000500,AL,Birmingham,107000,1073000500,2864,25.8,"(22.0, 29.9)",35.6,"(34.1, 37.0)",10.0,...,34.0,"(24.4, 42.9)","(33.54424045940, -86.7749130719)",1.0,"Census Tract 5, Jefferson County, Alabama",12.4,22.0,36.7,6.2,22.6
1073000700,AL,Birmingham,107000,1073000700,2577,29.4,"(24.8, 34.2)",37.2,"(35.8, 38.6)",8.4,...,43.2,"(33.2, 53.2)","(33.55254061390, -86.8016893706)",1.0,"Census Tract 7, Jefferson County, Alabama",18.8,20.8,25.7,15.8,18.8

In [315]:
combined.shape

(48937, 70)

In [232]:
# bachelors = bachelors.rename(columns={'Id2':'Place_TractID'})

In [234]:
# bachelors['Place_TractID']=bachelors['Place_TractID'].astype(str)

In [235]:
# bachelors['Place_TractID'] = [i.strip() for i in bachelors['Place_TractID']]

In [241]:
# bachelors['Place_TractID']=bachelors['Place_TractID'].astype(float)

In [243]:
# combined_data['Place_TractID'] = [i.strip() for i in combined_data['Place_TractID']]

In [100]:
# age_sex = pd.read_csv('/Users/flatironschool/Flatiron_Projects/food-access/AgeSex/AgeSex.csv', encoding = "ISO-8859-1")

In [34]:
# age_sex.shape

(17240, 219)

In [101]:
# fertility = pd.read_csv('/Users/flatironschool/Flatiron_Projects/food-access/Fertility.csv')

In [102]:
# fertility.head()

In [40]:
# fertility.shape

(14097, 323)

In [302]:
zip_tract_mapping = pd.read_excel('/Users/flatironschool/Flatiron_Projects/food-access/TRACT_ZIP_032015.xlsx')

In [303]:
zip_tract_mapping.head()

        TRACT    ZIP  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  1001020100  36067   1.000000   1.000000   1.000000   1.000000
1  1001020200  36008   0.011581   0.004190   0.026316   0.010003
2  1001020200  36067   0.409354   0.423184   0.921053   0.419140
3  1001020200  36068   0.579065   0.572626   0.052632   0.570857
4  1001020300  36067   1.000000   1.000000   1.000000   1.000000

In [304]:
zip_tract_mapping = zip_tract_mapping[['TRACT', 'ZIP']]

In [311]:
zip_tract_mapping.head()

              ZIP
TRACT
1001020100  36067
1001020200  36008
1001020200  36067
1001020200  36068
1001020300  36067

In [51]:
# zip_tract_mapping.dtypes

TRACT    int64
ZIP      int64
dtype: object

In [312]:
# zip_tract_mapping.set_index('TRACT', inplace=True)

In [307]:
zip_tract_mapping.head()

              ZIP
TRACT
1001020100  36067
1001020200  36008
1001020200  36067
1001020200  36068
1001020300  36067

In [313]:
# combined.head()
combined = combined.join(zip_tract_mapping)

In [314]:
combined.head()

,StateAbbr,PlaceName,PlaceFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,BINGE_CrudePrev,...,TEETHLOST_Crude95CI,Geolocation,LILATracts_halfAnd10,Geography,Percent; Estimate; Science and Engineering Related Fields,Percent; Estimate; Science and Engineering,Percent; Estimate; Business,Percent; Estimate; Education,"Percent; Estimate; Arts, Humanities and Others",ZIP
1073000100,AL,Birmingham,107000,1073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",11.5,...,"(23.7, 35.1)","(33.57943283260, -86.7228323926)",1.0,"Census Tract 1, Jefferson County, Alabama",5.2,28.3,20.4,23.6,22.5,35217.0
1073000100,AL,Birmingham,107000,1073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",11.5,...,"(23.7, 35.1)","(33.57943283260, -86.7228323926)",1.0,"Census Tract 1, Jefferson County, Alabama",5.2,28.3,20.4,23.6,22.5,35206.0
1073000100,AL,Birmingham,107000,1073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",11.5,...,"(23.7, 35.1)","(33.57943283260, -86.7228323926)",1.0,"Census Tract 1, Jefferson County, Alabama",5.2,28.3,20.4,23.6,22.5,35215.0
1073000100,AL,Birmingham,107000,1073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",11.5,...,"(23.7, 35.1)","(33.57943283260, -86.7228323926)",1.0,"Census Tract 1, Jefferson County, Alabama",5.2,28.3,20.4,23.6,22.5,35235.0
1073000100,AL,Birmingham,107000,1073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",11.5,...,"(23.7, 35.1)","(33.57943283260, -86.7228323926)",1.0,"Census Tract 1, Jefferson County, Alabama",5.2,28.3,20.4,23.6,22.5,35261.0