In [1]:
import requests
import pandas as pd
import json
import numpy as np

In [63]:
census = pd.read_csv('/Users/flatironschool/Flatiron_Projects/food-access/census_block_loc.csv')

In [64]:
census.head()

   Latitude  Longitude        BlockCode     County State
0     40.48 -74.280000  340230076002012  Middlesex    NJ
1     40.48 -74.276834  340230076005000  Middlesex    NJ
2     40.48 -74.273668  340230076003018  Middlesex    NJ
3     40.48 -74.270503  340230076003004  Middlesex    NJ
4     40.48 -74.267337  340230074021000  Middlesex    NJ

In [67]:
census['Geolocation'] = list(zip(census['Latitude'],census['Longitude']))

In [66]:
census.head()

,Latitude,Longitude,BlockCode,County,State,Geolocation
0,40.48,-74.280000,340230076002012,Middlesex,NJ,"(40.48, -74.28)"
1,40.48,-74.276834,340230076005000,Middlesex,NJ,"(40.48, -74.2768341709)"
2,40.48,-74.273668,340230076003018,Middlesex,NJ,"(40.48, -74.2736683417)"
3,40.48,-74.270503,340230076003004,Middlesex,NJ,"(40.48, -74.2705025126)"
4,40.48,-74.267337,340230074021000,Middlesex,NJ,"(40.48, -74.2673366834)"

In [30]:
len(census)

38396

In [57]:
for_test = []

for i in census['Geolocation']:
    i = (i[0] + 1, i[1])
    for_test.append(i)
    
test = pd.Series(for_test)
test_2 = pd.Series(for_test)

In [54]:
census = census.drop(columns=['Test'])

In [55]:
census.head()

,Latitude,Longitude,BlockCode,County,State,Geolocation
0,40.48,-74.280000,340230076002012,Middlesex,NJ,"(40.48, -74.28)"
1,40.48,-74.276834,340230076005000,Middlesex,NJ,"(40.48, -74.2768341709)"
2,40.48,-74.273668,340230076003018,Middlesex,NJ,"(40.48, -74.2736683417)"
3,40.48,-74.270503,340230076003004,Middlesex,NJ,"(40.48, -74.2705025126)"
4,40.48,-74.267337,340230074021000,Middlesex,NJ,"(40.48, -74.2673366834)"

In [51]:
test.loc[1] = (40.48, -74.2768341709)

In [52]:
test.loc[1] # so now, nothing should match except the 1 at index position 1

(40.48, -74.2768341709)

In [53]:
test.head()

0            (41.48, -74.28)
1    (40.48, -74.2768341709)
2    (41.48, -74.2736683417)
3    (41.48, -74.2705025126)
4    (41.48, -74.2673366834)
dtype: object

(40.48, -74.2768341709)

In [22]:
# datelist_2016 = pd.date_range('2016-01-01', periods=365)
# datelist_2015 = pd.date_range('2015-01-01', periods=365)
# datelist_2014 = pd.date_range('2014-01-01', periods=365)
# datelist_2013 = pd.date_range('2013-01-01', periods=365)
# datelist_2012 = pd.date_range('2012-01-01', periods=365)
# datelist_2011 = pd.date_range('2011-01-01', periods=365)
# datelist_2010 = pd.date_range('2010-01-01', periods=365)
# datelist_2016 = [str(i.date()) for i in datelist_2016]
# datelist_2015 = [str(i.date()) for i in datelist_2015]
# datelist_2014 = [str(i.date()) for i in datelist_2014]
# datelist_2013 = [str(i.date()) for i in datelist_2013]
# datelist_2012 = [str(i.date()) for i in datelist_2012]
# datelist_2011 = [str(i.date()) for i in datelist_2011]
# datelist_2010 = [str(i.date()) for i in datelist_2010]

In [23]:
# def get_complaints(dates):
#     complaints = []
#     for date in dates:
#         r = requests.get(f'https://data.cityofnewyork.us/resource/fhrw-4uyv.json?created_date={date}')
#         data = r.json()
#         complaints.extend(data)
#     return complaints

In [ ]:

# complaints_2015 = get_complaints(datelist_2015)
# complaints_2014 = get_complaints(datelist_2014)
# complaints_2013 = get_complaints(datelist_2013)
# complaints_2012 = get_complaints(datelist_2012)
# complaints_2011 = get_complaints(datelist_2011)
# complaints_2010 = get_complaints(datelist_2010)

In [24]:
# service_requests = pd.read_csv('311_Service_Requests_from_2010_to_Present.csv')

In [26]:
# service_requests.head()

In [25]:
# service_requests.columns