In [8]:
import pandas as pd
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

In [103]:
# now combined data doesn't include bachelor degree subject areas because realized that dataset ended at mississippi
# only thing that's different from brian's version is the binning by region

med_df = pd.read_csv('./combined_df_csv')

In [104]:
med_df.head()

,Unnamed: 0,StateAbbr,PlaceName,PlaceFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,PHLTH_Crude95CI,SLEEP_CrudePrev,SLEEP_Crude95CI,STROKE_CrudePrev,STROKE_Crude95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation,LILATracts_halfAnd10,Regions
0,1073000100,AL,Birmingham,107000,1073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",...,"(18.5, 21.7)",45.5,"(44.3, 46.5)",5.6,"( 5.1, 6.1)",28.9,"(23.7, 35.1)","(33.57943283260, -86.7228323926)",1.0,South
1,1073000300,AL,Birmingham,107000,1073000300,2735,28.5,"(25.2, 31.7)",30.2,"(29.0, 31.4)",...,"(18.8, 22.5)",44.5,"(43.2, 45.7)",5.9,"( 5.3, 6.5)",32.9,"(25.5, 40.2)","(33.54282086860, -86.7524339780)",1.0,South
2,1073000400,AL,Birmingham,107000,1073000400,3338,23.9,"(20.5, 27.6)",31.7,"(30.3, 33.0)",...,"(17.6, 21.4)",45.7,"(44.2, 47.0)",5.7,"( 5.1, 6.4)",28.6,"(22.0, 35.1)","(33.56324496330, -86.7640474064)",1.0,South
3,1073000500,AL,Birmingham,107000,1073000500,2864,25.8,"(22.0, 29.9)",35.6,"(34.1, 37.0)",...,"(19.8, 24.0)",46.1,"(44.5, 47.4)",7.7,"( 6.9, 8.6)",34.0,"(24.4, 42.9)","(33.54424045940, -86.7749130719)",1.0,South
4,1073000700,AL,Birmingham,107000,1073000700,2577,29.4,"(24.8, 34.2)",37.2,"(35.8, 38.6)",...,"(22.9, 27.6)",48.3,"(46.6, 49.7)",9.5,"( 8.4, 10.6)",43.2,"(33.2, 53.2)","(33.55254061390, -86.8016893706)",1.0,South

In [105]:
med_df = med_df.rename(columns={'LILATracts_halfAnd10':'Food Desert Cat. Var.'})

# 1 = food desert

In [106]:
med_df.head()

,Unnamed: 0,StateAbbr,PlaceName,PlaceFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ACCESS2_Crude95CI,ARTHRITIS_CrudePrev,ARTHRITIS_Crude95CI,...,PHLTH_Crude95CI,SLEEP_CrudePrev,SLEEP_Crude95CI,STROKE_CrudePrev,STROKE_Crude95CI,TEETHLOST_CrudePrev,TEETHLOST_Crude95CI,Geolocation,Food Desert Cat. Var.,Regions
0,1073000100,AL,Birmingham,107000,1073000100,3042,23.3,"(20.6, 26.3)",31.3,"(30.3, 32.5)",...,"(18.5, 21.7)",45.5,"(44.3, 46.5)",5.6,"( 5.1, 6.1)",28.9,"(23.7, 35.1)","(33.57943283260, -86.7228323926)",1.0,South
1,1073000300,AL,Birmingham,107000,1073000300,2735,28.5,"(25.2, 31.7)",30.2,"(29.0, 31.4)",...,"(18.8, 22.5)",44.5,"(43.2, 45.7)",5.9,"( 5.3, 6.5)",32.9,"(25.5, 40.2)","(33.54282086860, -86.7524339780)",1.0,South
2,1073000400,AL,Birmingham,107000,1073000400,3338,23.9,"(20.5, 27.6)",31.7,"(30.3, 33.0)",...,"(17.6, 21.4)",45.7,"(44.2, 47.0)",5.7,"( 5.1, 6.4)",28.6,"(22.0, 35.1)","(33.56324496330, -86.7640474064)",1.0,South
3,1073000500,AL,Birmingham,107000,1073000500,2864,25.8,"(22.0, 29.9)",35.6,"(34.1, 37.0)",...,"(19.8, 24.0)",46.1,"(44.5, 47.4)",7.7,"( 6.9, 8.6)",34.0,"(24.4, 42.9)","(33.54424045940, -86.7749130719)",1.0,South
4,1073000700,AL,Birmingham,107000,1073000700,2577,29.4,"(24.8, 34.2)",37.2,"(35.8, 38.6)",...,"(22.9, 27.6)",48.3,"(46.6, 49.7)",9.5,"( 8.4, 10.6)",43.2,"(33.2, 53.2)","(33.55254061390, -86.8016893706)",1.0,South

In [107]:
med_df.shape

(27210, 65)

In [108]:
to_drop = []

for i in med_df.columns: 
    if 'Crude95CI' in i: 
        to_drop.append(i)

In [109]:
med_df = med_df.drop(columns=to_drop)

In [110]:
med_df.head()

,Unnamed: 0,StateAbbr,PlaceName,PlaceFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ARTHRITIS_CrudePrev,BINGE_CrudePrev,BPHIGH_CrudePrev,...,MHLTH_CrudePrev,OBESITY_CrudePrev,PAPTEST_CrudePrev,PHLTH_CrudePrev,SLEEP_CrudePrev,STROKE_CrudePrev,TEETHLOST_CrudePrev,Geolocation,Food Desert Cat. Var.,Regions
0,1073000100,AL,Birmingham,107000,1073000100,3042,23.3,31.3,11.5,46.2,...,18.6,47.3,85.0,20.0,45.5,5.6,28.9,"(33.57943283260, -86.7228323926)",1.0,South
1,1073000300,AL,Birmingham,107000,1073000300,2735,28.5,30.2,12.0,45.6,...,18.4,47.5,83.8,20.6,44.5,5.9,32.9,"(33.54282086860, -86.7524339780)",1.0,South
2,1073000400,AL,Birmingham,107000,1073000400,3338,23.9,31.7,11.6,50.1,...,17.5,47.2,84.6,19.3,45.7,5.7,28.6,"(33.56324496330, -86.7640474064)",1.0,South
3,1073000500,AL,Birmingham,107000,1073000500,2864,25.8,35.6,10.0,54.3,...,18.2,49.5,84.3,21.8,46.1,7.7,34.0,"(33.54424045940, -86.7749130719)",1.0,South
4,1073000700,AL,Birmingham,107000,1073000700,2577,29.4,37.2,8.4,55.4,...,21.1,53.4,84.5,25.1,48.3,9.5,43.2,"(33.55254061390, -86.8016893706)",1.0,South

In [111]:
med_df.shape # shape before pca = (27210, 43)

(27210, 37)

In [119]:
med_df.shape

(27210, 37)

In [122]:
# something = med_df.apply(lambda row: row.astype(str).str.contains('NaN').any(), axis=1)

In [124]:
# if something.any(): 
#     print('yay')

In [152]:
X = med_df.drop(columns=['Food Desert Cat. Var.', 'Geolocation'])

In [153]:
X.shape

(27210, 35)

In [154]:
y = med_df['Food Desert Cat. Var.'].dropna()

In [155]:
y.shape

(27204,)

In [156]:
X = pd.get_dummies(X, drop_first=True).dropna()

In [157]:
X.shape

(24866, 558)

In [159]:
from sklearn.preprocessing import StandardScaler

X = StandardScaler().fit_transform(X)

In [162]:
X.shape

(24866, 558)

In [163]:
# Create a PCA instance and fit the data 
from sklearn.decomposition import PCA

pca = PCA(n_components=2) # Number of principal components required

X_pca = pca.fit_transform(X)

In [164]:
print(pca.components_)

[[ 0.05603529  0.05656308  0.0566258  ...  0.0246817   0.03842887
  -0.0918625 ]
 [ 0.15168154  0.15072473  0.15085495 ...  0.05248598  0.12486245
  -0.20148856]]

In [165]:
print(pca.explained_variance_)

[16.40061989  6.44113755]

In [166]:
print("original shape:   ", X.shape)
print("transformed shape:", X_pca.shape)

original shape:    (24866, 558)
transformed shape: (24866, 2)

In [ ]:
### next steps = run vanilla classifier to compare pca explained variance w/model's accuracy rate