In [2]:
import requests
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
nypd_complaints = pd.read_csv('./crimes-new-york-city/NYPD_Complaint_Data_Historic.csv')

/Users/briansrebrenik/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
nypd_complaints.Lat_Lon.head()

0    (40.828848333, -73.916661142)
1    (40.697338138, -73.784556739)
2    (40.802606608, -73.945051911)
3    (40.654549444, -73.726338791)
4       (40.7380024, -73.98789129)
Name: Lat_Lon, dtype: object

In [9]:
nypd_complaints.columns

Index(['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'RPT_DT', 'KY_CD', 'OFNS_DESC', 'PD_CD', 'PD_DESC',
       'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'JURIS_DESC', 'BORO_NM',
       'ADDR_PCT_CD', 'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'PARKS_NM',
       'HADEVELOPT', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude',
       'Lat_Lon'],
      dtype='object')

In [10]:
nypd_complaints_data = nypd_complaints[['RPT_DT', 'OFNS_DESC', 'PD_DESC', 'Latitude', 'Longitude', 'Lat_Lon']]

In [11]:
nypd_complaints_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
RPT_DT       1048575 non-null object
OFNS_DESC    1045695 non-null object
PD_DESC      1047842 non-null object
Latitude     1016158 non-null float64
Longitude    1016158 non-null float64
Lat_Lon      1016158 non-null object
dtypes: float64(2), object(4)
memory usage: 48.0+ MB

In [12]:
nypd_complaints_data.RPT_DT = nypd_complaints_data.RPT_DT.astype(dtype='datetime64')

/Users/briansrebrenik/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [13]:
nypd_complaints_data_2015 = nypd_complaints_data[nypd_complaints_data['RPT_DT'] > '12-31-2014']

In [14]:
nypd_complaints_data_2015.head()

,RPT_DT,OFNS_DESC,PD_DESC,Latitude,Longitude,Lat_Lon
0,2015-12-31,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",40.828848,-73.916661,"(40.828848333, -73.916661142)"
1,2015-12-31,MURDER & NON-NEGL. MANSLAUGHTER,NaN,40.697338,-73.784557,"(40.697338138, -73.784556739)"
2,2015-12-31,DANGEROUS DRUGS,"CONTROLLED SUBSTANCE,INTENT TO",40.802607,-73.945052,"(40.802606608, -73.945051911)"
3,2015-12-31,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,40.654549,-73.726339,"(40.654549444, -73.726338791)"
4,2015-12-31,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,40.738002,-73.987891,"(40.7380024, -73.98789129)"

In [15]:

nypd_complaints_data_2015.dropna(inplace=True)
nypd_complaints_data_2015.isna().sum()

/Users/briansrebrenik/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

RPT_DT       0
OFNS_DESC    0
PD_DESC      0
Latitude     0
Longitude    0
Lat_Lon      0
dtype: int64

In [16]:
nypd_complaints_data_2015.head()

,RPT_DT,OFNS_DESC,PD_DESC,Latitude,Longitude,Lat_Lon
0,2015-12-31,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",40.828848,-73.916661,"(40.828848333, -73.916661142)"
2,2015-12-31,DANGEROUS DRUGS,"CONTROLLED SUBSTANCE,INTENT TO",40.802607,-73.945052,"(40.802606608, -73.945051911)"
3,2015-12-31,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,40.654549,-73.726339,"(40.654549444, -73.726338791)"
4,2015-12-31,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,40.738002,-73.987891,"(40.7380024, -73.98789129)"
5,2015-12-31,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED",40.665023,-73.957111,"(40.665022689, -73.957110763)"

##### getting census tracts

In [2]:
census_data = pd.read_csv('./new-york-city-census-data/census_block_loc.csv')

In [3]:
census_data = census_data[census_data['State'] == "NY"]
census_data.head()

    Latitude  Longitude        BlockCode    County State
15     40.48 -74.232513  360859901000011  Richmond    NY
16     40.48 -74.229347  360859901000011  Richmond    NY
17     40.48 -74.226181  360859901000011  Richmond    NY
18     40.48 -74.223015  360859901000011  Richmond    NY
19     40.48 -74.219849  360859901000011  Richmond    NY

In [4]:
census_data_nyc_counties = census_data.ix[(census_data['County']=='New York') | (census_data['County']=='Kings') | (census_data['County']=="Richmond") | (census_data['County']=='Bronx')]
def get_closest_block(latitude, longitude):

    temp_df = census_data_nyc_counties.copy()
    temp_df['distance'] = np.sqrt((temp_df.Latitude -latitude)**2 + (temp_df.Longitude - longitude)**2)
    min_distance = min(temp_df.distance)
    return temp_df[temp_df.distance == min_distance].BlockCode
    

    
        #distance = ((x1-x2)**2 + (y1-y2)**2)**0.5

/Users/briansrebrenik/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [61]:
list(get_closest_block(nypd_complaints_data_2015.Latitude[10], nypd_complaints_data_2015.Longitude[10]).items())[0][1]

360050119001001

In [5]:
from tqdm import tqdm
def get_tracts(data):
    block_ids = []
    for i in tqdm(range(len(data))):
        try:
            code = list(get_closest_block(data.Latitude[i], data.Longitude[i]).items())[0][1]
            block_ids.append(code)
        except:
            block_ids.append("NA")
    return block_ids

In [67]:
nypd_block_ids = get_tracts(nypd_complaints_data_2015)

100%|██████████| 467109/467109 [43:41<00:00, 178.17it/s]

In [82]:
nypd_block_ids = pd.DataFrame(nypd_block_ids, columns=['Census Tract'])
nypd_block_ids.head()

      Census Tract
0  360050173001002
1               NA
2  360610198002000
3  360470702031007
4  360610052001002

In [83]:
nypd_block_ids.to_csv('./nypd_block_ids.csv', columns=nypd_block_ids.columns)

In [69]:
len(nypd_block_ids)

467109

In [70]:
nypd_complaints_data_2015['Census Tract'] = nypd_block_ids

/Users/briansrebrenik/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [80]:
nypd_complaints_data_2015= nypd_complaints_data_2015[nypd_complaints_data_2015['Census Tract'] != "NA"]

In [87]:
nypd_complaints_data_2015['Census Tract'] = nypd_complaints_data_2015['Census Tract'].map(lambda x: int(str(x)[:-4]))

In [89]:
nypd_complaints_data_2015.to_csv('./nypd_complaints_data_2015.csv')

#### getting census tract info for 311 data

In [3]:
service_requests = pd.read_csv('311_Service_Requests_from_2010_to_Present.csv')
service_requests.head()

/Users/briansrebrenik/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,12/31/2015 11:59:45 PM,01/01/2016 12:55:15 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,12/31/2015 11:59:44 PM,01/01/2016 01:26:57 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"
2,32309159,12/31/2015 11:59:29 PM,01/01/2016 04:51:03 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)"
3,32305098,12/31/2015 11:57:46 PM,01/01/2016 07:43:13 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10461.0,2940 BAISLEY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.835994,-73.828379,"(40.83599404683083, -73.82837939584206)"
4,32306529,12/31/2015 11:56:58 PM,01/01/2016 03:24:42 AM,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11373.0,87-14 57 ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.733060,-73.874170,"(40.733059618956815, -73.87416975810375)"

In [4]:
service_requests_data = service_requests[['Created Date','Complaint Type', 'Descriptor', 'Incident Zip', 'Latitude', 'Longitude']]
service_requests_data.head()

,Created Date,Complaint Type,Descriptor,Incident Zip,Latitude,Longitude
0,12/31/2015 11:59:45 PM,Noise - Street/Sidewalk,Loud Music/Party,10034.0,40.865682,-73.923501
1,12/31/2015 11:59:44 PM,Blocked Driveway,No Access,11105.0,40.775945,-73.915094
2,12/31/2015 11:59:29 PM,Blocked Driveway,No Access,10458.0,40.870325,-73.888525
3,12/31/2015 11:57:46 PM,Illegal Parking,Commercial Overnight Parking,10461.0,40.835994,-73.828379
4,12/31/2015 11:56:58 PM,Illegal Parking,Blocked Sidewalk,11373.0,40.733060,-73.874170

In [9]:
block_ids_311 = get_tracts(service_requests_data)

100%|██████████| 364558/364558 [33:07<00:00, 183.41it/s]

In [10]:
block_ids_311 = pd.DataFrame(block_ids_311, columns=['Census Tract'])
block_ids_311.head()

      Census Tract
0  360610293003000
1  360610240000003
2  360050407023000
3  360050184002005
4  360471180001000

In [11]:
service_requests_data['Census Tract'] = block_ids_311

/Users/briansrebrenik/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [12]:
service_requests_data= service_requests_data[service_requests_data['Census Tract'] != "NA"]
service_requests_data['Census Tract'] = service_requests_data['Census Tract'].map(lambda x: int(str(x)[:-4]))

In [ ]:
service_requests_data.to_csv('./service_requests_data.csv')

In [2]:
# AUDREY WORK -- 1/8

In [3]:
nypd = pd.read_csv('./nypd_complaints_data_2015.csv')

In [4]:
nypd.head()

,Unnamed: 0,RPT_DT,OFNS_DESC,PD_DESC,Latitude,Longitude,Lat_Lon,Census Tract
0,0,2015-12-31,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",40.828848,-73.916661,"(40.82884833, -73.91666114)",36005017300
1,3,2015-12-31,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,40.654549,-73.726339,"(40.65454944, -73.72633879)",36061019800
2,4,2015-12-31,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,40.738002,-73.987891,"(40.7380024, -73.98789129)",36047070203
3,5,2015-12-31,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED",40.665023,-73.957111,"(40.66502269, -73.95711076)",36061005200
4,6,2015-12-31,DANGEROUS DRUGS,"CONTROLLED SUBSTANCE, POSSESSI",40.720200,-73.988735,"(40.7202, -73.98873508)",36047032500

In [5]:
nypd = nypd.drop(columns=['Latitude', 'Longitude', 'Lat_Lon'])
nypd.head()

,Unnamed: 0,RPT_DT,OFNS_DESC,PD_DESC,Census Tract
0,0,2015-12-31,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",36005017300
1,3,2015-12-31,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,36061019800
2,4,2015-12-31,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,36047070203
3,5,2015-12-31,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED",36061005200
4,6,2015-12-31,DANGEROUS DRUGS,"CONTROLLED SUBSTANCE, POSSESSI",36047032500

In [6]:
nypd = nypd.drop(columns=['Unnamed: 0'])
nypd.head()

,RPT_DT,OFNS_DESC,PD_DESC,Census Tract
0,2015-12-31,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",36005017300
1,2015-12-31,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,36061019800
2,2015-12-31,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,36047070203
3,2015-12-31,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED",36061005200
4,2015-12-31,DANGEROUS DRUGS,"CONTROLLED SUBSTANCE, POSSESSI",36047032500

In [7]:
nypd.set_index('Census Tract', inplace=True)
nypd.head()

,RPT_DT,OFNS_DESC,PD_DESC
Census Tract,,,
36005017300,2015-12-31,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO"
36061019800,2015-12-31,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3
36047070203,2015-12-31,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3
36061005200,2015-12-31,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED"
36047032500,2015-12-31,DANGEROUS DRUGS,"CONTROLLED SUBSTANCE, POSSESSI"

In [8]:
service_reqs = pd.read_csv('service_requests_data.csv')

In [9]:
service_reqs.head()

,Unnamed: 0,Created Date,Complaint Type,Descriptor,Incident Zip,Latitude,Longitude,Census Tracts
0,0,2015-12-31 23:59:45,Noise - Street/Sidewalk,Loud Music/Party,10034.0,40.865682,-73.923501,36061029300
1,1,2015-12-31 23:59:44,Blocked Driveway,No Access,11105.0,40.775945,-73.915094,36061024000
2,2,2015-12-31 23:59:29,Blocked Driveway,No Access,10458.0,40.870325,-73.888525,36005040702
3,3,2015-12-31 23:57:46,Illegal Parking,Commercial Overnight Parking,10461.0,40.835994,-73.828379,36005018400
4,4,2015-12-31 23:56:58,Illegal Parking,Blocked Sidewalk,11373.0,40.733060,-73.874170,36047118000

In [10]:
service_reqs = service_reqs.drop(columns=['Unnamed: 0', 'Latitude', 'Longitude' ])
service_reqs.set_index('Census Tracts', inplace=True)
service_reqs.head()

,Created Date,Complaint Type,Descriptor,Incident Zip
Census Tracts,,,,
36061029300,2015-12-31 23:59:45,Noise - Street/Sidewalk,Loud Music/Party,10034.0
36061024000,2015-12-31 23:59:44,Blocked Driveway,No Access,11105.0
36005040702,2015-12-31 23:59:29,Blocked Driveway,No Access,10458.0
36005018400,2015-12-31 23:57:46,Illegal Parking,Commercial Overnight Parking,10461.0
36047118000,2015-12-31 23:56:58,Illegal Parking,Blocked Sidewalk,11373.0

In [11]:
service_reqs.drop(columns=['Incident Zip'], inplace=True)
service_reqs.head()

,Created Date,Complaint Type,Descriptor
Census Tracts,,,
36061029300,2015-12-31 23:59:45,Noise - Street/Sidewalk,Loud Music/Party
36061024000,2015-12-31 23:59:44,Blocked Driveway,No Access
36005040702,2015-12-31 23:59:29,Blocked Driveway,No Access
36005018400,2015-12-31 23:57:46,Illegal Parking,Commercial Overnight Parking
36047118000,2015-12-31 23:56:58,Illegal Parking,Blocked Sidewalk

In [12]:
service_reqs.columns

Index(['Created Date', 'Complaint Type', 'Descriptor'], dtype='object')

In [13]:
nypd.columns

Index(['RPT_DT', 'OFNS_DESC', 'PD_DESC'], dtype='object')

In [14]:
nypd.rename(columns={'RPT_DT': 'Created Date', 'OFNS_DESC': 'Complaint Type', "PD_DESC": 'Descriptor'}, inplace=True)

In [15]:
nypd = nypd.reset_index()

In [16]:
nypd['311 or NYPD'] = "NYPD"

In [17]:
nypd.head()

,Census Tract,Created Date,Complaint Type,Descriptor,311 or NYPD
0,36005017300,2015-12-31,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",NYPD
1,36061019800,2015-12-31,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,NYPD
2,36047070203,2015-12-31,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,NYPD
3,36061005200,2015-12-31,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED",NYPD
4,36047032500,2015-12-31,DANGEROUS DRUGS,"CONTROLLED SUBSTANCE, POSSESSI",NYPD

In [18]:
service_reqs= service_reqs.reset_index()
service_reqs.head()

,Census Tracts,Created Date,Complaint Type,Descriptor
0,36061029300,2015-12-31 23:59:45,Noise - Street/Sidewalk,Loud Music/Party
1,36061024000,2015-12-31 23:59:44,Blocked Driveway,No Access
2,36005040702,2015-12-31 23:59:29,Blocked Driveway,No Access
3,36005018400,2015-12-31 23:57:46,Illegal Parking,Commercial Overnight Parking
4,36047118000,2015-12-31 23:56:58,Illegal Parking,Blocked Sidewalk

In [19]:
service_reqs.rename(columns={'Census Tracts': 'Census Tract'}, inplace=True)

In [20]:
service_reqs['311 or NYPD'] = "311"

In [21]:
service_reqs.head()

,Census Tract,Created Date,Complaint Type,Descriptor,311 or NYPD
0,36061029300,2015-12-31 23:59:45,Noise - Street/Sidewalk,Loud Music/Party,311
1,36061024000,2015-12-31 23:59:44,Blocked Driveway,No Access,311
2,36005040702,2015-12-31 23:59:29,Blocked Driveway,No Access,311
3,36005018400,2015-12-31 23:57:46,Illegal Parking,Commercial Overnight Parking,311
4,36047118000,2015-12-31 23:56:58,Illegal Parking,Blocked Sidewalk,311

In [22]:
all_reports = pd.concat([nypd, service_reqs])

In [23]:
all_reports = all_reports.reset_index()
all_reports.drop(columns=['index'], inplace=True)
all_reports.head()

,Census Tract,Created Date,Complaint Type,Descriptor,311 or NYPD
0,36005017300,2015-12-31,FORGERY,"FORGERY,ETC.,UNCLASSIFIED-FELO",NYPD
1,36061019800,2015-12-31,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,NYPD
2,36047070203,2015-12-31,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,NYPD
3,36061005200,2015-12-31,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED",NYPD
4,36047032500,2015-12-31,DANGEROUS DRUGS,"CONTROLLED SUBSTANCE, POSSESSI",NYPD

In [24]:
df = pd.read_csv('combined_df_csv')

/Users/briansrebrenik/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
df = df[df['PlaceName'] == "New York"]

In [26]:
to_drop = [x for x in df.columns if x[-2:] == "CI"]

In [27]:
df.drop(columns=to_drop, inplace=True)
df.head()

,Unnamed: 0,StateAbbr,PlaceName,PlaceFIPS,Place_TractID,Population2010,ACCESS2_CrudePrev,ARTHRITIS_CrudePrev,BINGE_CrudePrev,BPHIGH_CrudePrev,...,STROKE_CrudePrev,TEETHLOST_CrudePrev,Geolocation,LILATracts_halfAnd10,Geography,Percent; Estimate; Science and Engineering Related Fields,Percent; Estimate; Science and Engineering,Percent; Estimate; Business,Percent; Estimate; Education,"Percent; Estimate; Arts, Humanities and Others"
16259,36005000100,NY,New York,3651000,36005000100,11091,30.3,13.2,23.2,28.6,...,2.7,29.2,"(40.79277676180, -73.8835903861)",0.0,NaN,NaN,NaN,NaN,NaN,NaN
16260,36005000200,NY,New York,3651000,36005000200,4334,19.6,19.8,17.5,30.2,...,2.8,14.2,"(40.80588752040, -73.8600033082)",0.0,NaN,NaN,NaN,NaN,NaN,NaN
16261,36005000400,NY,New York,3651000,36005000400,5503,17.0,18.2,18.3,28.0,...,2.4,12.1,"(40.80816486420, -73.8506843230)",0.0,NaN,NaN,NaN,NaN,NaN,NaN
16262,36005001600,NY,New York,3651000,36005001600,5643,24.1,26.4,13.2,36.8,...,4.9,24.0,"(40.81884779820, -73.8580763586)",0.0,NaN,NaN,NaN,NaN,NaN,NaN
16263,36005001900,NY,New York,3651000,36005001900,1917,21.5,16.7,19.1,27.8,...,2.7,18.0,"(40.80124256560, -73.9095876660)",0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
target = df[['Unnamed: 0', 'LILATracts_halfAnd10']]

In [29]:
target.head()

        Unnamed: 0  LILATracts_halfAnd10
16259  36005000100                   0.0
16260  36005000200                   0.0
16261  36005000400                   0.0
16262  36005001600                   0.0
16263  36005001900                   0.0

In [30]:
test = all_reports.set_index('Census Tract').join(target.set_index('Unnamed: 0'))

In [31]:
test.shape

(816638, 5)

In [32]:
classifications = pd.read_excel('DataDownload2015.xlsx', sheet_name='Food Access Research Atlas')

In [33]:
list(classifications.columns)

['CensusTract',
 'State',
 'County',
 'Urban',
 'POP2010',
 'OHU2010',
 'GroupQuartersFlag',
 'NUMGQTRS',
 'PCTGQTRS',
 'LILATracts_1And10',
 'LILATracts_halfAnd10',
 'LILATracts_1And20',
 'LILATracts_Vehicle',
 'HUNVFlag',
 'LowIncomeTracts',
 'PovertyRate',
 'MedianFamilyIncome',
 'LA1and10',
 'LAhalfand10',
 'LA1and20',
 'LATracts_half',
 'LATracts1',
 'LATracts10',
 'LATracts20',
 'LATractsVehicle_20',
 'LAPOP1_10',
 'LAPOP05_10',
 'LAPOP1_20',
 'LALOWI1_10',
 'LALOWI05_10',
 'LALOWI1_20',
 'lapophalf',
 'lapophalfshare',
 'lalowihalf',
 'lalowihalfshare',
 'lakidshalf',
 'lakidshalfshare',
 'laseniorshalf',
 'laseniorshalfshare',
 'lawhitehalf',
 'lawhitehalfshare',
 'lablackhalf',
 'lablackhalfshare',
 'laasianhalf',
 'laasianhalfshare',
 'lanhopihalf',
 'lanhopihalfshare',
 'laaianhalf',
 'laaianhalfshare',
 'laomultirhalf',
 'laomultirhalfshare',
 'lahisphalf',
 'lahisphalfshare',
 'lahunvhalf',
 'lahunvhalfshare',
 'lasnaphalf',
 'lasnaphalfshare',
 'lapop1',
 'lapop1share',
 'lalowi1',
 'lalowi1share',
 'lakids1',
 'lakids1share',
 'laseniors1',
 'laseniors1share',
 'lawhite1',
 'lawhite1share',
 'lablack1',
 'lablack1share',
 'laasian1',
 'laasian1share',
 'lanhopi1',
 'lanhopi1share',
 'laaian1',
 'laaian1share',
 'laomultir1',
 'laomultir1share',
 'lahisp1',
 'lahisp1share',
 'lahunv1',
 'lahunv1share',
 'lasnap1',
 'lasnap1share',
 'lapop10',
 'lapop10share',
 'lalowi10',
 'lalowi10share',
 'lakids10',
 'lakids10share',
 'laseniors10',
 'laseniors10share',
 'lawhite10',
 'lawhite10share',
 'lablack10',
 'lablack10share',
 'laasian10',
 'laasian10share',
 'lanhopi10',
 'lanhopi10share',
 'laaian10',
 'laaian10share',
 'laomultir10',
 'laomultir10share',
 'lahisp10',
 'lahisp10share',
 'lahunv10',
 'lahunv10share',
 'lasnap10',
 'lasnap10share',
 'lapop20',
 'lapop20share',
 'lalowi20',
 'lalowi20share',
 'lakids20',
 'lakids20share',
 'laseniors20',
 'laseniors20share',
 'lawhite20',
 'lawhite20share',
 'lablack20',
 'lablack20share',
 'laasian20',
 'laasian20share',
 'lanhopi20',
 'lanhopi20share',
 'laaian20',
 'laaian20share',
 'laomultir20',
 'laomultir20share',
 'lahisp20',
 'lahisp20share',
 'lahunv20',
 'lahunv20share',
 'lasnap20',
 'lasnap20share',
 'TractLOWI',
 'TractKids',
 'TractSeniors',
 'TractWhite',
 'TractBlack',
 'TractAsian',
 'TractNHOPI',
 'TractAIAN',
 'TractOMultir',
 'TractHispanic',
 'TractHUNV',
 'TractSNAP']

In [34]:
to_keep = [x for x in list(classifications.columns) if x[:2] == "LA" or x[:2] == "la"]
to_keep = ['CensusTract'] + to_keep
to_keep

['CensusTract',
 'LA1and10',
 'LAhalfand10',
 'LA1and20',
 'LATracts_half',
 'LATracts1',
 'LATracts10',
 'LATracts20',
 'LATractsVehicle_20',
 'LAPOP1_10',
 'LAPOP05_10',
 'LAPOP1_20',
 'LALOWI1_10',
 'LALOWI05_10',
 'LALOWI1_20',
 'lapophalf',
 'lapophalfshare',
 'lalowihalf',
 'lalowihalfshare',
 'lakidshalf',
 'lakidshalfshare',
 'laseniorshalf',
 'laseniorshalfshare',
 'lawhitehalf',
 'lawhitehalfshare',
 'lablackhalf',
 'lablackhalfshare',
 'laasianhalf',
 'laasianhalfshare',
 'lanhopihalf',
 'lanhopihalfshare',
 'laaianhalf',
 'laaianhalfshare',
 'laomultirhalf',
 'laomultirhalfshare',
 'lahisphalf',
 'lahisphalfshare',
 'lahunvhalf',
 'lahunvhalfshare',
 'lasnaphalf',
 'lasnaphalfshare',
 'lapop1',
 'lapop1share',
 'lalowi1',
 'lalowi1share',
 'lakids1',
 'lakids1share',
 'laseniors1',
 'laseniors1share',
 'lawhite1',
 'lawhite1share',
 'lablack1',
 'lablack1share',
 'laasian1',
 'laasian1share',
 'lanhopi1',
 'lanhopi1share',
 'laaian1',
 'laaian1share',
 'laomultir1',
 'laomultir1share',
 'lahisp1',
 'lahisp1share',
 'lahunv1',
 'lahunv1share',
 'lasnap1',
 'lasnap1share',
 'lapop10',
 'lapop10share',
 'lalowi10',
 'lalowi10share',
 'lakids10',
 'lakids10share',
 'laseniors10',
 'laseniors10share',
 'lawhite10',
 'lawhite10share',
 'lablack10',
 'lablack10share',
 'laasian10',
 'laasian10share',
 'lanhopi10',
 'lanhopi10share',
 'laaian10',
 'laaian10share',
 'laomultir10',
 'laomultir10share',
 'lahisp10',
 'lahisp10share',
 'lahunv10',
 'lahunv10share',
 'lasnap10',
 'lasnap10share',
 'lapop20',
 'lapop20share',
 'lalowi20',
 'lalowi20share',
 'lakids20',
 'lakids20share',
 'laseniors20',
 'laseniors20share',
 'lawhite20',
 'lawhite20share',
 'lablack20',
 'lablack20share',
 'laasian20',
 'laasian20share',
 'lanhopi20',
 'lanhopi20share',
 'laaian20',
 'laaian20share',
 'laomultir20',
 'laomultir20share',
 'lahisp20',
 'lahisp20share',
 'lahunv20',
 'lahunv20share',
 'lasnap20',
 'lasnap20share']

In [35]:
classifications = classifications[to_keep]

In [36]:
classifications.head()

,CensusTract,LA1and10,LAhalfand10,LA1and20,LATracts_half,LATracts1,LATracts10,LATracts20,LATractsVehicle_20,LAPOP1_10,...,laaian20,laaian20share,laomultir20,laomultir20share,lahisp20,lahisp20share,lahunv20,lahunv20share,lasnap20,lasnap20share
0,1001020100,1,1,1,1,1,0,0,0,1357.480940,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1001020200,0,1,0,1,0,0,0,0,483.429683,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1001020300,1,1,1,1,1,0,0,0,1417.874893,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1001020400,1,1,1,1,1,0,0,0,1363.466885,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1001020500,1,1,1,1,1,0,0,1,2643.095161,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
target.rename(columns={'Unnamed: 0': 'CensusTract'}, inplace=True)

/Users/briansrebrenik/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [38]:
target.drop(columns=['LILATracts_halfAnd10'], inplace=True)
target.head()

/Users/briansrebrenik/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

       CensusTract
16259  36005000100
16260  36005000200
16261  36005000400
16262  36005001600
16263  36005001900

In [39]:
target.shape

(2117, 1)

In [40]:
ny_classifications = target.set_index('CensusTract').join(classifications.set_index('CensusTract'))

In [41]:
import seaborn as sns

In [42]:
ny_classifications.head()

,LA1and10,LAhalfand10,LA1and20,LATracts_half,LATracts1,LATracts10,LATracts20,LATractsVehicle_20,LAPOP1_10,LAPOP05_10,...,laaian20,laaian20share,laomultir20,laomultir20share,lahisp20,lahisp20share,lahunv20,lahunv20share,lasnap20,lasnap20share
CensusTract,,,,,,,,,,,,,,,,,,,,,
36005000100,1,1,1,1,1,0,0,0,7657.187355,11090.999922,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36005000200,0,0,0,0,0,0,0,0,0.000000,64.427068,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36005000400,0,0,0,0,0,0,0,0,0.000000,263.828842,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36005001600,0,0,0,0,0,0,0,0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36005001900,0,0,0,0,0,0,0,0,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
import nltk
from nltk.corpus import stopwords
import string
from nltk import word_tokenize, FreqDist
from sklearn.feature_extraction.text import TfidfVectorizer

In [73]:
stopwords_list = stopwords.words('english') + list(string.punctuation)
stopwords_list += ["''", '""', '...', '``']

In [45]:
def process_report(report):
    tokenized_report = word_tokenize(report)  
    tonkenized_report = [word.lower() for word in tokenized_report if word not in stopwords_list]
    return tokenized_report

In [46]:
test.isna().sum()

Created Date                0
Complaint Type              0
Descriptor               6425
311 or NYPD                 0
LILATracts_halfAnd10    65918
dtype: int64

In [47]:
test.dropna(inplace=True)

In [48]:
test.isna().sum()

Created Date            0
Complaint Type          0
Descriptor              0
311 or NYPD             0
LILATracts_halfAnd10    0
dtype: int64

In [49]:

processed_reports = list(map(lambda x: process_report(str(x)), tqdm(test.Descriptor)))

NameError: name 'tqdm' is not defined

In [201]:
total_vocab = set()
for article in processed_reports:
    total_vocab.update(article)
len(total_vocab)

531

In [202]:
reports_concat = []
for article in processed_reports:
    reports_concat.extend(article)

In [203]:
reports_freqdist = FreqDist(reports_concat)

In [204]:
reports_freqdist.most_common(200)

[(',', 431205),
 ('LARCENY', 119291),
 ('Access', 90323),
 ('Loud', 87695),
 ('FROM', 84377),
 ('HARASSMENT', 74497),
 ('PETIT', 73106),
 ('No', 69194),
 ('Music/Party', 65199),
 ('CRIMINAL', 56008),
 ('SUBD', 55830),
 ('ASSAULT', 54385),
 ('3', 49617),
 ('GRAND', 46336),
 ('OF', 43650),
 ('MISCHIEF', 41840),
 ('UNCLASSIFIED', 40893),
 ('3,4,5', 38008),
 ('Parking', 36524),
 ('4', 35302),
 ('2', 30887),
 ('Blocked', 29858),
 ('1', 29540),
 ('STORE-SHOPL', 26105),
 ('Violation', 24987),
 ('Posted', 23601),
 ('Sign', 23601),
 ('Talking', 22387),
 ('BUILDING', 21992),
 ('Partial', 21923),
 ('POSSESSION', 20938),
 ('AGGRAVATED', 18845),
 ('UN', 18588),
 ('With', 18371),
 ('License', 18371),
 ('Plate', 18371),
 ('BY', 17899),
 ('CIVILIAN', 17822),
 ('Hydrant', 17489),
 ('2,1', 16873),
 ('AUTO', 16321),
 ('&', 15377),
 ('ROBBERY', 15290),
 ('Car/Truck', 15289),
 ('Commercial', 14723),
 ('Overnight', 14723),
 ('OPEN', 14278),
 ('BURGLARY', 13694),
 ('MOTOR', 13126),
 ('Sidewalk', 12369),
 ('RESIDENCE', 11524),
 ('CONTROLLED', 11239),
 ('SUBSTANCE', 11239),
 ('Double', 11234),
 ('Parked', 11234),
 ('Blocking', 11234),
 ('UNATTENDED', 11158),
 ('Music', 11107),
 ('MARIJUANA', 10277),
 ('4TH', 10064),
 ('GRAFFIT', 10064),
 ('5', 10046),
 ('(', 9876),
 (')', 9728),
 ('ACCT', 9529),
 ('WEAPONS', 9365),
 ('AREAS', 8660),
 ('CONTEMPT', 8311),
 ('PERSON', 8139),
 ('POSSESSI', 7651),
 ('DEVICE', 6679),
 ('PERSONAL', 6629),
 ('ELECTRONIC', 6629),
 ('CREDIT', 6620),
 ('CARD', 6620),
 ('DAY', 6547),
 ('Traffic', 6414),
 ('MENACING', 6373),
 ('NIGHT', 6305),
 ('FRAUD', 6242),
 ('FORGERY', 5709),
 ('Vehicle', 5414),
 ('ALCOHOL', 5269),
 ('DRIVING', 5263),
 ('INTOXICATED', 5147),
 ('M', 5134),
 ('ETC', 5049),
 ('Engine', 4957),
 ('Idling', 4957),
 ('AREA', 4944),
 ('BICYCLE', 4801),
 ('PUBLIC', 4728),
 ('Banging/Pounding', 4698),
 ('VEHICLE', 4628),
 ('Neglected', 4603),
 ('UNCLASSIFIED-FELONY', 4378),
 ('COMMERCIAL', 4218),
 ('LEAVING', 4210),
 ('SCENE-ACCIDENT-PERSONA', 4210),
 ('Horn', 4182),
 ('TRESPASS', 4160),
 ('VEHICLE/MOTORCYCLE', 4152),
 ('ETC.', 4069),
 ('UNCLASSIFIED-FELO', 4069),
 ('UNCL', 4016),
 ('THEFT', 3470),
 ('NON-RESIDENCE', 3399),
 ('2ND', 3362),
 ('BANK', 3330),
 ('In', 3272),
 ('.', 3216),
 ('LICENSE', 3082),
 ('VIOLATION', 3011),
 ('RECKLESS', 2996),
 ('ORDER', 2996),
 ('PROTECTI', 2996),
 ('Congestion/Gridlock', 2955),
 ('ENDANGERMENT', 2924),
 ('PLATE', 2827),
 ('FALSE', 2619),
 ('USE', 2417),
 ('OBSTR', 2407),
 ('BREATH/CIRCUL', 2407),
 ('ACCES', 2327),
 ('1ST', 2312),
 ('Other', 2244),
 ('complaint', 2244),
 ('details', 2244),
 ('STRANGULATION', 2178),
 ('ACQUIRING', 2166),
 ('BAG', 2128),
 ('Prohibited', 2119),
 ('Area', 2119),
 ('RESISTING', 1998),
 ('ARREST', 1998),
 ('UNAUTHORIZED', 1932),
 ('SALE', 1927),
 ('UNCLASS', 1914),
 ('UNCLASSIFIED-MISDEMEANOR', 1863),
 ('Unlicensed', 1857),
 ('SNATCH', 1813),
 ('STOLEN', 1802),
 ('Storage', 1800),
 ('INTENT', 1793),
 ('COMPROMISE-EXISTING', 1778),
 ('ADMINISTATION', 1728),
 ('TO', 1697),
 ('PROPERTY', 1669),
 ('UNKNOWN', 1668),
 ('STORE', 1667),
 ('NEW', 1622),
 ('OFFICER', 1567),
 ('PEACE', 1545),
 ('CHECK', 1531),
 ('IMPERSONATION', 1496),
 ('Unauthorized', 1449),
 ('Bus', 1449),
 ('Layover', 1449),
 ('CONTACT', 1426),
 ('DISHONEST', 1381),
 ('EMP', 1381),
 ('OPEN/DIP', 1353),
 ('SERVICES', 1341),
 ('UNCLASSIFIE', 1341),
 ('LOS', 1327),
 ('SERVAN', 1322),
 ('PICK', 1280),
 ('TRUCK', 1226),
 ('COMPROMISE-ATM', 1201),
 ('TRANSACTION', 1201),
 ('TIM', 1158),
 ('EATERY', 1155),
 ('OPEN/COMPROMISE', 1154),
 ('CELL', 1154),
 ('PHONE', 1154),
 ('ADMINISTRATION', 1112),
 ('RETAIL', 1111),
 ('TRAFFIC', 1097),
 ('MISDEMEAN', 1096),
 ('MOTORCYCLE', 1090),
 ('Truck', 1083),
 ('Route', 1083),
 ('VEHICULAR/MOTORCYCLE', 1077),
 ('ACCESSORIES', 1077),
 ('PROMISE', 1041),
 ('ETC.-MISD', 1037),
 ('MIS', 1001),
 ('COMPROMISE-REPRODUCED', 992),
 ('RESIDENTIAL', 989),
 ('COMMON', 989),
 ('POSSESS', 975),
 ('Tortured', 936),
 ('ARSON', 933),
 ('TAMPERING', 918),
 ('ADM.CODE', 906),
 ('MISDEMEA', 889),
 ('Public', 883),
 ('IN', 879),
 ('PROMISE-NOT', 878),
 ('BRIBERY', 847)]

In [74]:
vectorizer = TfidfVectorizer(stop_words=stopwords_list)

In [75]:
tf_idf_data_train = vectorizer.fit_transform([str(x) for x in test.Descriptor])

In [76]:
tf_idf_data_train.shape

(744638, 464)

In [77]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [78]:
from sklearn.metrics import classification_report, confusion_matrix

In [79]:
nb_classifier = MultinomialNB()
nb_classifier.fit(tf_idf_data_train, test.LILATracts_halfAnd10)
nb_train_preds = nb_classifier.predict(tf_idf_data_train)

In [80]:
nb_train_score = accuracy_score(test.LILATracts_halfAnd10, nb_train_preds)
nb_train_score

0.9838444989377388

In [81]:
print(confusion_matrix(test.LILATracts_halfAnd10, nb_train_preds))

[[732607     62]
 [ 11968      1]]

In [82]:
word_vectors = pd.DataFrame(tf_idf_data_train.todense(), columns=vectorizer.get_feature_names())

In [83]:
census_tracts = test.reset_index()['index']

In [84]:
word_vectors_with_tracts = word_vectors

In [85]:
word_vectors_with_tracts['Census Tract'] = census_tracts

In [86]:
word_vectors_with_tracts.head()

,1st,2nd,3rd,4th,abandon,abandonment,abortion,absconding,abuse,acces,...,violation,vulnerable,weapon,weapons,welfare,witness,work,worker,wounds,Census Tract
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.76181,0.0,0.0,0.0,0.0,0.0,36005000100
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,36005000100
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,36005000100
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,36005000100
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,36005000100

In [87]:
word_vectors_with_tracts = word_vectors_with_tracts.groupby('Census Tract').sum()

In [88]:
word_vectors_with_tracts.head()

,1st,2nd,3rd,4th,abandon,abandonment,abortion,absconding,abuse,acces,...,violatio,violation,vulnerable,weapon,weapons,welfare,witness,work,worker,wounds
Census Tract,,,,,,,,,,,,,,,,,,,,,
36005000100,48.068237,58.669091,0.0,180.940737,0.0,0.761932,0.0,0.0,0.0,49.377387,...,0.711278,314.137864,0.0,0.0,183.733564,0.0,0.844201,0.0,5.805750,0.0
36005000200,0.703999,1.019788,0.0,4.624683,0.0,0.000000,0.0,0.0,0.0,1.431229,...,0.000000,10.564120,0.0,0.0,3.961022,0.0,0.000000,0.0,0.000000,0.0
36005000400,1.761475,1.851015,0.0,11.561708,0.0,0.000000,0.0,0.0,0.0,2.146843,...,0.000000,38.697925,0.0,0.0,3.961022,0.0,0.000000,0.0,0.000000,0.0
36005001600,2.111997,0.617005,0.0,4.046598,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.000000,4.821604,0.0,0.0,3.046752,0.0,0.844201,0.0,0.414696,0.0
36005001900,1.407998,2.870803,0.0,5.780854,0.0,0.000000,0.0,0.0,0.0,3.578072,...,0.000000,11.816112,0.0,0.0,4.570372,0.0,0.000000,0.0,0.414696,0.0